body{
    background-repeat: no-repeat;
    background-image: linear-gradient(to top,rgb(158, 121, 121),rgb(78, 59, 59));
}
*{
    box-sizing: border-box;
}
.filter{
    width: 400px;
    display: flex;
    background-color: #eee;
    margin-left: 25%;
    justify-content: center;
}
.filter img{
    width: 200px;
    margin: 10px;
    left: -10px;
    transition: 0.3s;
    filter: grayscale(100%);
}
.filter img:hover{
    filter: grayscale(0);
}