*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.page{
    height: 100vh;
    display: grid;
    background-color: #eee;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 50px auto 100px;
    grid-template-areas: "logo logo nav nav nav nav nav nav nav nav"
                        "cont cont cont cont cont cont cont sid sid sid"
                        "foot foot foot foot foot foot foot foot foot foot";
                    }
h2{
    grid-area: logo;
    background-color: black;
    color: white;
}
nav{
    grid-area: nav;
    background-color: pink;
    color: blue;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
section{
    grid-area: cont;
    background-color: aqua;
}
aside{
    grid-area: sid;
    background-color: bisque;
}
footer{
    grid-area: foot;
    background-color: brown;
}